{% extends "layout/main.twig" %}
{% block breadcrumb %}
  {{ parent() }}
  <li class="active">series</li>
{% endblock %}
{% block content %}
  <h1>Series</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      This page allows you to manage series. The series date will be used to determine which series are currently running, so ensure this is correct.
     </div>
  </div>
  {% include "partials/errors.twig" %}
  {% include "partials/message.twig" %}
  {% include "series/insert-update.twig"  with {'formClass': 'form-inline'} %}

  <h2>All Series</h2>
  <table class ="table">
    <thead>
      <th>Name</th><th>Start Date</th><th>End Date</th><th>League Table</th><th></th><th></th>
    </thead>
    <tbody>
      {% for seriesRow in series %}
        <tr>
          <td>{{ seriesRow.seriesName }}</td>
          <td>{{ seriesRow.startDate }}</td>
          <td>{{ seriesRow.endDate }}</td>
          <td>
            <form action="/admin/series/files" method="post" class="form-inline" enctype="multipart/form-data">
              <div class="form-group" >
                <span style="font-weight: bold" class="file-name-display" id="file-name-display">
                  {% if seriesRow.leagueFileName|length > 0 %}
                    <a target="_blank" href="/league-tables/{{ seriesRow.leagueFileName }}">View Current File</a>
                  {% else %}
                    Not yet set
                  {% endif %}
                </span>
                <label class="btn btn-primary" for="league-table-file-{{seriesRow.seriesId}}">Browse
                  <input type="file" name="league-table-file" class="form-control  league-table-file" id="league-table-file-{{seriesRow.seriesId}}" style="display:none"/>
                </label>
              </div>
              <input type="hidden" name="series-id" value="{{seriesRow.seriesId}}" />
              <button type="submit" class="btn btn-default">
                Upload
              </button>
            </form>
          </td>
          <td>
            <a href="/admin/series/{{ seriesRow.seriesId }}/edit">
              <button class="btn btn-primary">Edit Series</button>
            </a>
          </td>
          <td>
            <a href="/admin/series/{{ seriesRow.seriesId }}/races">
              <button class="btn btn-primary">View/Edit Races</button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $('.league-table-file').change( function (){
      $(this).parent().parent().children('.file-name-display').html($(this)[0].files[0].name);
    });
  </script>
{% endblock %}
