{% extends "layout/main.twig" %}
{% block breadcrumb %}
  {{ parent() }}
  <li><a href="/admin/series/">series</a></li>
  <li><a href="/admin/series/{{ race.seriesId }}/races">races</a></li>
  <li class="active">results</li>
{% endblock %}
{% block content %}
  <h1>View Results</h1>
  <p class="important">
    Manage results.
  </p>
  {% include "partials/errors.twig" %}
  {% include "partials/message.twig" %}

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#add-result" aria-controls="add-result" role="tab" data-toggle="tab">Add Standard Result</a></li>
    <li role="presentation"><a href="#add-non-finisher" aria-controls="add-non-finisher" role="tab" data-toggle="tab">Add Non Finisher</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="add-result">
      {% include "classresults/insert-update.twig" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="add-non-finisher">
      {% include "results/unfinished/insert-update.twig" with {'redirectUrl': 'admin/races/' ~ race.raceId ~ '/results/' ~ race.raceTypeHandle|lower } %}
    </div>
  </div>
  <h2>Results - <button type="button" id="preview-modal-button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#preview-modal">
    Preview Calculated Results
  </button>
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Sail Number</th><th>Helm</th><th>Crew</th><th>Class</th><th>Position</th><th></th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td>{{ result.sailNumber }}</td>
          <td>{{ result.helm }}</td>
          <td>
            {% if result.crew|length > 0 %}
              {{ result.crew }}
            {%else %}
              No Crew
            {% endif %}
          </td>
          <td>{{ result.boatClassName }}</td>
          <td>{{ result.position is defined ? result.position : result.unfinishedTypeHandle }}</td>
          <td>
            <form method="post" action="
            {% if result.position is defined %}
              /admin/races/{{race.raceId}}/results/{{race.raceTypeHandle|lower}}/{{result.resultId}}/delete
            {% else %}
              /admin/races/{{race.raceId}}/unfinishedresults/{{result.resultId}}/delete
            {% endif %}
            ">
            <input type="hidden" name="redirect_url" value="admin/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}" />
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal fade" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Preview Calculated Results</h4>
      </div>
      <div id ="preview-modal-body" class="modal-body">
        {%include 'partials/results-tables/class.twig' with {'results' : sortedResults} %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
