{% extends "layout/main.twig" %}
{% block breadcrumb %}
  {{ parent() }}
  <li class="active">classes</li>
{% endblock %}
{% block content %}
  <h1>Boat Classes</h1>
  <p class="important">
    Manage boat classes.
  </p>
  {% include "partials/errors.twig" %}
  {% include "partials/message.twig" %}
  {% include "boatclasses/insert-update.twig" with {'formClass': 'form-inline'} %}
  <h3>Upload RYA CSV</h3>
<form action="/admin/boatclasses/upload" method="post" class="form-inline" enctype="multipart/form-data">
  <div class="form-group" >
    <span style="font-weight: bold" id="file-name-display">No file selected</span>
    <label class="btn btn-primary" for="file-select">Browse
      <input type="file" name="py-list-file" class="form-control" id="file-select" style="display:none"/>
    </label>
  </div>
  <button type="submit" class="btn btn-default">
    Upload
  </button>
</form>
  <h2>Current Boat Classes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Class</th><th>Current active PY</th><th></th><th></th>
      </tr>
    </thead>
    <tbody>
      {% for boatClass in boatClasses %}
        <tr>
          <td>{{ boatClass.name }}</td>
          <td>
          {% if boatClass.pyNumber|length > 0 %}
            {{ boatClass.pyNumber }}
          {% else %}
            No PY Number Found!
          {% endif %}
          </td>
          <td>
            <a href="/admin/boatclasses/{{ boatClass.boatClassId }}/edit">
              <button class="btn btn-primary">
                Edit Class
              </button>
            </a>
          </td>
          <td>
            <a href="/admin/boatclasses/{{ boatClass.boatClassId }}/pynumbers">
              <button class="btn btn-primary">
                Edit PY Number
              </button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $('#file-select').change( function (){
      $('#file-name-display').html($('#file-select')[0].files[0].name);
    });
  </script>
{% endblock %}
