{% extends "layout/main.twig" %}
{% block breadcrumb %}
  {{ parent() }}
  <li><a href="/admin/series">series</a></li>
  <li class="active">races</li>
{% endblock %}
{% block content %}
  <h1>View All Races</h1>
  <p class="important">
    Manage races.
  </p>
  {% include "partials/errors.twig" %}
  {% include "partials/message.twig" %}
  {% include "races/insert-update.twig" %}

  <h2>Races</h2>
  <table class="table">
    <thead>
      <th>Type</th><th>Name</th><th>Date</th><th></th><th></th>
    </thead>
    <tbody>
      {% for race in races %}
        <tr>
          <td>{{ race.raceTypeHandle|lower|capitalize }}</td>
          <td>{{ race.name }}</td>
          <td>{{ race.date }}</td>
          <td>
            {% if race.isPublished == true %}
              {% include "races/publish.twig" with
                {
                  'publishAction': 'unpublish',
                  'publishClass': 'btn-danger',
                  'publishText': 'Un-publish'
                }
              %}
            {% else %}
              {% include "races/publish.twig" with
                {
                  'publishAction': 'publish',
                  'publishClass': 'btn-success',
                  'publishText': 'Publish'
                }
              %}
            {% endif %}
          </td>
          <td><a href="/admin/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}">View/Edit Results</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
