<form class="form-inline" method = "post" action="/admin/series/{{ race.seriesId }}/races/{{ race.raceId }}/{{publishAction}}">
    <button type="submit" class = "btn {{ publishClass }}">{{ publishText }}</button>
</form>
