{% extends "user/layout.twig" %}
{% block content %}

<h3>Races From Active Series</h3>
{% for seriesRow in series %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ seriesRow.seriesName }} series running from {{ seriesRow.startDate|date("d/m/Y") }} to {{ seriesRow.endDate|date("d/m/Y") }}</h3>
    </div>
    <div class="panel-body">
      {% for race in seriesRow.races %}
        <a href="/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}">{{ race.name }} - {{ race.date|date("d/m/Y") }}</a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% endblock %}
