{% extends "user/layout.twig" %}
{% block content %}

<h3>Races From Active Series</h3>
{% for seriesRow in series %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ seriesRow.seriesName }} series running from {{ seriesRow.startDate|date(dateFormat) }} to {{ seriesRow.endDate|date(dateFormat) }} -
        {% include 'partials/league-file-link.twig' with {'seriesRow' : seriesRow} %}
      </h3>
    </div>
    <div class="panel-body">
      {% for race in seriesRow.races %}
        <p><a href="/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}">{{ race.date|date(dateFormat) }} - {{ race.name }} - {{ race.raceTypeHandle|lower|capitalize }} </a></p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% if olderSeries|length > 0 %}
<h3>Older Series</h3>
<div style="margin-bottom:20px">
<select class="form-control" id="series-select-box" style="font-size:17px">
  {% for series in olderSeries %}
    <option {{ selectedSeries is defined and series.seriesId == selectedSeries ? 'selected' : '' }} class="series-option" data-target="#series-display-{{ series.seriesId }}" value="{{series.seriesId}}">{{ series.seriesName|capitalize }} Series ({{ series.startDate}} - {{ series.endDate}})</option>
  {% endfor %}
</select>
</div >
{% endif %}
{% for series in olderSeries %}
  <div class="panel panel-default series-display" id="series-display-{{ series.seriesId }}">
    <div class="panel-heading" id="heading{{series.seriesId}}">
      <h4 class="panel-title">
          {{ series.seriesName }} series - ran from {{ series.startDate|date(dateFormat) }} to {{ series.endDate|date(dateFormat) }}
         - {% include 'partials/league-file-link.twig' with {'seriesRow' : series} %}
      </h4>
    </div>
      <div class="panel-body">
        {% for race in series.races %}
          <p><p><a href="/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}">{{ race.date|date(dateFormat) }} - {{ race.name }} - {{ race.raceTypeHandle|lower|capitalize }} </a></p>
        {% endfor %}
      </div>
  </div>
{% endfor %}
{% endblock %}
{% block scripts %}

  <script type="text/javascript">
    $(document).ready(function() {
      $('.series-display').hide();
      $('#series-display-' + $('#series-select-box').val()).show();
    });
    $('#series-select-box').change(function() {
      $('.series-display').hide();
      $('#series-display-' + $(this).val()).show();
    })
  </script>
{% endblock %}
