{% extends "user/layout.twig" %}
{% block content %}

<h3>Races From Active Series</h3>
{% for seriesRow in series %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ seriesRow.seriesName }} series running from {{ seriesRow.startDate|date("d/m/Y") }} to {{ seriesRow.endDate|date("d/m/Y") }} -
        {% include 'partials/league-file-link.twig' with {'seriesRow' : seriesRow} %}
      </h3>
    </div>
    <div class="panel-body">
      {% for race in seriesRow.races %}
        <p><a href="/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}">{{ race.name }} - {{ race.date|date("d/m/Y") }}</a></p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
<h3>Older Series</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for series in olderSeries %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{loop.index}}">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
          {{ series.seriesName }} series - ran from {{ series.startDate|date("d/m/Y") }} to {{ series.endDate|date("d/m/Y") }}
        </a>
         - {% include 'partials/league-file-link.twig' with {'seriesRow' : series} %}
      </h4>
    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{loop.index}}">
      <div class="panel-body">
        {% for race in series.races %}
          <p><p><a href="/races/{{ race.raceId }}/results/{{ race.raceTypeHandle|lower }}">{{ race.name }} - {{ race.date|date("d/m/Y") }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
