<table class="table table-striped table-hover">
  <thead>
    <tr>
    <th>Position</th><th>Sail Number</th><th>Helm</th><th>Crew</th><th>Boat Class Name</th><th>Laps</th><th>Time</th><th>Corrected Time</th>
    </tr>
  </thead>
  <tbody>
{% for result in results %}
<tr>
    <td>{{ result.position }}</td> <td>{{ result.sailNumber }}</td> <td>{{ result.helm.fullName }}</td>
    <td>
      {% if result.crew|length > 0 %}
        {{ result.crew.fullName }}
      {%else %}
        No Crew
      {% endif %}
    </td>
    <td>{{ result.boatClassName }}</td> <td>{{result.laps is defined ? result.laps : result.unfinishedTypeHandle }}</td> <td>{{ result.time is defined ? result.time|secsToMins : result.unfinishedTypeHandle }}</td> <td>{{ result.correctedTime is defined ? result.correctedTime|secsToMins : result.unfinishedTypeHandle }}</td>
</tr>
{% endfor %}
</tbody>
</table>
